html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
/*  text-decoration: none; */
}

* {
  box-sizing: border-box;
}

:root {
  --text-main: #000;
  --text-alternate: #fff;
  --accent-color: #CE3B2B;
  --dark-color: #000;

  --border-radius: 39px;

  --topbar-height: 102px;

  --container-width: 1280px
}


.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
}
