
.hero {
  height: 100dvh;
  min-height: 500px;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroImage {
  z-index: -1;
  object-fit: cover;
}

.heroTitle {
  color: var(--text-alternate);
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--topbar-height);
}

.container {
  padding: 0 1rem;
}

.height100 {
  height: 100%;
}
