.form {
  max-width: 1280px;
  min-width: 500px;
  height: 3rem;
  position: relative;
  --button-width: 80px;
}

.input {
  position: absolute;
  width: 100%;
  height: 3rem;
  border-radius: 39px;
  border: 0;
  padding-left: 1rem;
  font-size: 1rem;

  padding-right: calc(var(--button-width) + 1rem);
}

.button {
  position: absolute;
  right: 0;
  background: var(--accent-color);
  width: var(--button-width);
  height: 3rem;
  border: 0;
  border-radius:0 var(--border-radius) var(--border-radius) 0;

  cursor: pointer;
}

.button svg {
  color: white;
  /* Manually center, since the rounded borders make it look off */
  margin-left: -10px;
}

.darkButton {
  background-color: var(--dark-color);
}

.buttonLoading {
  width: 100%;
  border-radius: var(--border-radius);
  transition: width 0.3s ease-in;
}
