.section {
  padding: var(--section-padding);
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 9rem;
  justify-content: center;
}

.wrapper > div {
  flex-basis: 300px;
  margin-top: 3rem;
}
.img1, .img2, .img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  position: relative;
  min-height: 20rem;
}

.img1 img, .img2 img, .img3 img {
  object-fit: cover;
  box-shadow: 9px 7px 15px -6px #000000;
  border-radius: 39px;
}

.sectionTitle {
  font-size: 3rem;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.text {
  font-size: 1.125rem;
}

.itemWrapper {
  text-align: center;
}
