
.container {
  --main-columns: 7;
  max-width: calc(109px * var(--main-columns));
  margin: 0 auto;
}

.reference {
  margin: 3rem 0 ;
}

.spriteContainer {
  display: flex;
  flex-wrap: wrap;
}

.canvasContainer {
  --main-columns: 7;
  position: relative;
  background: repeat url(/template.svg);
  width: calc(109px * var(--main-columns));
  height: calc(109px * var(--main-columns));
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 0 !important;
}
.canvas:hover {

}

.title {
  text-align: center;
}

/* TODO: maybe use sass somehow? */
@media screen and (min-width: 1526px) {
  .canvasContainer, .container {
    --main-columns: 15;
  }
}
@media screen and (max-width: 1526px) {
  .canvasContainer, .container {
    --main-columns: 12;
  }
}
@media screen and (max-width: 1417px) {
  .canvasContainer, .container {
    --main-columns: 11;
  }
}
@media screen and (max-width: 1308px) {
  .canvasContainer, .container {
    --main-columns: 10;
  }
}
@media screen and (max-width: 1199px) {
  .canvasContainer, .container {
    --main-columns: 9;
  }
}
@media screen and (max-width: 1090px) {
  .canvasContainer, .container {
    --main-columns: 8;
  }
}
@media screen and (max-width: 981px) {
  .canvasContainer, .container {
    --main-columns: 7;
  }
}
@media screen and (max-width: 872px) {
  .canvasContainer, .container {
    --main-columns: 6;
  }
}

@media screen and (max-width: 763px) {
  .canvasContainer, .container {
    --main-columns: 5;
  }
}
@media screen and (max-width: 654px) {
  .canvasContainer, .container {
    --main-columns: 4;
  }
}

@media screen and (max-width: 545px) {
  .canvasContainer, .container {
    --main-columns: 3;
  }
}

