.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(var(--canvas-width));
}

.tile {
  width: var(--tile-width);
  height: var(--tile-height);

  /* We want to scale the tile automatically by setting the tile-width */
  background-size: contain;
  background-repeat: no-repeat;

  /* Since we will add a border, we don't want it after our calculations */
  box-sizing: content-box;
  border: 0px;
}

